@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@500&display=swap');
@import url('card.css');
@import url('nav.css');

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
}

.header {
    grid-area: header;
    padding: 5px;
    color: cornflowerblue;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #242524;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.main {
    grid-area: main;
    padding: 5px;
    border-left: 1px solid gray;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
.footer {
    grid-area: footer;
    background-color: #242524;
    padding: 20px;
    color: white;
    height: 100%;
    margin-bottom: 0px;
    bottom: 0px;
}
.footer ul li {
    display: inline;
}

@media (max-width: 768px) {
    .card-image {
        display: none;
    }
    
}





