* {
    margin: 0px;
    padding: 0px;
 }
 
html {
    height: 100vh;
}
body {
    min-height: 0;
    padding: 0;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}