@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@500&display=swap');
@import url('card.css');
@import url('nav.css');

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
    grid-area: header;
    padding: 5px;
    color: cornflowerblue;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #242524;
}

.main {
    grid-area: main;
    padding: 5px;
    border-left: 1px solid gray;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.para-section {
    margin: 15px;
    text-align: justify;
}

.img-section figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.img-section figure figcaption {
    text-align: center;
}

.para-section .italic-span {
    font-style: italic;
} 

.para-section .underline-span {
    text-decoration: underline;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

.footer {
    grid-area: footer;
    background-color: #242524;
    padding: 20px;
    color: white;
    height: 100%;
}

.footer ul li {
    display: inline;
}


