@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
 }
 
html {
    height: 100vh;
}
body {
    min-height: 0;
    padding: 0;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
}

.header {
    grid-area: header;
    padding: 5px;
    color: cornflowerblue;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #242524;
}

.logo {
    font-family: 'Alex Brush', cursive;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: cornflowerblue;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.main {
    grid-area: main;
    padding: 5px;
    border-left: 1px solid gray;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
.footer {
    grid-area: footer;
    background-color: #242524;
    padding: 20px;
    color: white;
    height: 100%;
}
.footer ul li {
    display: inline;
}
.card {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
  }

  .card-text {
      padding: 2px;
      margin-left: 5px;
      margin-bottom: 2px;
      margin-top: 5px;
      line-height: .5em;
  }

  .card-text a {
      color: crimson;
      font-size: 1.2em;
  }

  .card-image {
    width: 100%;
    bottom: 0px;
  }

.inner-container {
    height: 50%;
    width: 80%;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
    "b b b";
}

.inner-container div {
    grid-area: b;
}

.inner-container .card{
    box-shadow: 0 8px 8px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.inner-container .card-text {
    padding: 2px;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: 5px;
    line-height: .5em;
}

.inner-container  .card-text a {
    color: crimson;
    font-size: 1.2em;
}

.inner-container .card-image {
    width: 100%;
    bottom: 0px;
}



